
<div class="row">
    <div>
        @{Html.RenderAction("PlayerHighScore", "Admin", null);}  
</div>

<div class="row">
    <div>
        @{Html.RenderAction("GladiatorHighScore", "Admin", null);}   
    </div>
</div>