
@{
    ViewBag.Title = "Foxhunting";
    <link rel="stylesheet" href="~/Content/fox-style.css">
    <script src="~/Scripts/foxhunting-maps.js"></script>
}

<h2 class="Mystyle" style="text-align:center;">Fox hunting</h2>

<div style="padding-bottom:20px;">
    <div id="mapzone">
        <div id="screen"></div>
    </div>

    <div class="dropdown">
        <h5 class="dropbtn" style="color:white;">Map Selection</h5>
        <div class="dropdown-content" id="maps"></div>
    </div>
    <h5 class="Mystyle" id="prevMap">Previous</h5>
    <h5 class="Mystyle" id="nextMap">Next</h5>
    <h5 class="Mystyle" id="resetMap">Reset</h5>
    <br />
    <div id="count"></div>
    <div id="time"></div>

    <div id="credits">
        <h2 class="Mystyle"> Credits! </h2>
        <h3 class="Mystyle"> Graphics</h3>
        <h4 class="Mystyle"> Animals </h4>
        <p><a href="https://forums.rpgmakerweb.com/index.php?threads/whtdragons-animals-and-running-horses-now-with-more-dragons.53552/">whtdragon</a> </p>
        <h4 class="Mystyle"> Environmental </h4>
        <p><a href="https://opengameart.org/content/tree-variations-from-jetrels-wood-tileset">Jetrel , Bertram & Zabin</a></p>
        <p><a href="https://opengameart.org/content/seamless-grass-texture">Athile</a></p>
        <h4 class="Mystyle">Changes</h4>
        <P> Emolition</P>
        <h3 class="Mystyle"> Coding</h3>
        <P> Emolition </P>
        <h3 class="Mystyle"> Map Design</h3>
        <P> Emolition </P>
    </div>

    <script src="~/Scripts/foxhunting-functions.js"></script>
</div>