
@{
    ViewBag.Title = "Foxsurvival";
    <link rel="stylesheet" href="~/Content/fox-style.css">
    <script src="~/Scripts/foxsurvival-maps.js"></script>
}

<h2 style="text-align:center;">Fox survival</h2>

<div style="padding-bottom:20px;">
    <div id="survivezone">
        <div id="screen"></div>
    </div>

    <div class="dropdown">
        <h5 class="dropbtn" style="color:white;">Map Selection</h5>
        <div class="dropdown-content" id="maps"></div>
    </div>
    <h5 id="prevMap">Previous</h5>
    <h5 id="nextMap">Next</h5>
    <h5 id="resetMap">Reset</h5>
    <br />
    <div id="count"></div>
    <div id="time"></div>

    <div id="credits">
        <h2> Credits! </h2>
        <h3> Graphics</h3>
        <h4> Animals </h4>
        <p><a href="https://forums.rpgmakerweb.com/index.php?threads/whtdragons-animals-and-running-horses-now-with-more-dragons.53552/">whtdragon</a></p>
        <h4> Environmental </h4>
        <p><a href="https://opengameart.org/content/bridges">Chabull</a></p>
        <p><a href="https://opengameart.org/content/volcano-lava-floor">Dakal</a></p>
        <p><a href="https://svn.worldforge.org:886/svn/media/ancient/media-3d/collection-golgotha/textures/fx/lavafull.jpg">Golgotha Forever Project - http://www.jonathanclark.com</a></p>

        <h4>Changes</h4>
        <P> Emolition</P>
        <h3> Coding</h3>
        <P> Emolition </P>
        <h3> Map Desing</h3>
        <P> Emolition </P>
    </div>

    <script src="~/Scripts/foxsurvival-functions.js"></script>
</div>