
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2 style="text-align:center ;">Welcome to Emolition games</h2>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4" style="height:650px;overflow:auto ; text-align:center ; border:solid purple ; background-color:white; color:black;">
            <h3 style="color:black;">Gladiator Game info</h3>
            <article>
                <p>Login required to play this game.</p>
                <p>This is a text based gladiator game based on D&D rules.</p>
                <p>You will be able to manage a stable of gladiators to fight with.</p>
                <p>Game is based on a dice system and the dices range from a D4 to D20.</p>
                <br />
                <h4>Gladiator Stable</h4>
                <p>A Player can only have a max of five gladiators in the stable.</p>
                <p>Each gladiator earns Experiance, gold and score. The gold is used to heal your gladiator between fights.</p>
                <p>A gladiator that runs out of both health and gold will be permantly dead.</p>
                <br />
                <h4>Highscore info</h4>
                <p>You can compete with othere players on the highscore list.</p>
                <p>There is two highscore lists one for the player highscore and one for gladiator highscore.</p>
                @*Change this one incase I change back the player score*@
                <p>
                    The player highscore is calculated for each gladiator that currently on win streak when losing
                    the score they have is removed from the players
                </p>
            </article>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4" style="height:650px;overflow:auto ; text-align:center ; border:solid purple ; background-color:white; color:black;">
            <h3 style="color:black;">Gladiator Game rules</h3>
            <article>
                <h4>Gladiator stats</h4>
                <p>Health show how much damage your gladiator can take before losing.</p>
                <p>Armor determine how hard it will be for opponent to hit you, players are limited to a max of 18 armor.</p>
                <p>Damage dice show how many of what type of dice you roll to determine your damage.</p>
                <p>Strenght will increase strenght modifyer that help increase both damage and hit chance.</p>
                <p>Strenght modifyer is calculated "(Strenght - 10) / 2" and this is what is added onto damage and hit rolls.</p>
                <p>Constitution increase constitution modifyer that will help increase your health. Each point added to constitution grants +1 health.</p>
                <p>Constitution modifyer is calculated "(Constitution - 10) / 2" used in health calculation.</p>
                <br />
                <h4>Battle mechanics</h4>
                <p>The Battle start with both fighters rolling a D20 (20 sided dice) ontop of this they add the strenght modifyer.</p>
                <p>With this roll they gonna have to roll equal or higher then the opponents armor to hit.</p>
                <p>If they hit they will roll 2 x D8 for damage then add the strenght modifyer to it.</p>
                <p>Rolling a 20 on the D20 will make it a critical hit doubeling the damage.</p>
                <p>If both misses they both recover 5 health.</p>
                <br />
                <h4>Leveling</h4>
                <p>
                    As the gladiator gain experiance they will level up. Each time a gladiator level up they will roll a D6 for added health
                    with the constitiution modifyer added onto it.
                </p>
                <p>Each level allso grant 2 skill points that can be placed in armor , strenght or constitution.</p>
                <p>
                    Reach level 2 at 100 exp<br />
                    Reach level 3 at 250 exp<br />
                    Reach level 4 at 450 exp<br />
                    Reach level 5 at 700 exp<br />
                    Reach level 6 at 1000 exp<br />
                    Reach level 7 at 1350 exp<br />
                    Reach level 8 at 1750 exp<br />
                    Reach level 9 at 2200 exp<br />
                    Reach level 10 at 2700 exp<br />
                    Reach level 11 at 3250 exp<br />
                    Reach level 12 at 3850 exp<br />
                    Reach level 13 at 4500 exp<br />
                    Reach level 14 at 5200 exp<br />
                    Reach level 15 at 5950 exp<br />
                    Reach level 16 at 6750 exp<br />
                    Reach level 17 at 7600 exp<br />
                    Reach level 18 at 8500 exp<br />
                    Reach level 19 at 9450 exp<br />
                    Reach level 20 at 10450 exp
                </p>
            </article>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row" style="padding-bottom:20px;">
    <h2 style="text-align:center;">Extra games</h2>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4" style="height:400px;overflow:auto ; text-align:center ; border:solid purple ;  background-color:white; color:black;">
            <h3 style="color:black;">Fox Hunting Game info</h3>
            <article>
                <p>Login not required for this game</p>
                <p>You play as a fox trying to move the chickens to your dens.</p>
                <p>You got to avoid the wolves or they will eat you.</p>
                <p>You use the arrow keys to play.</p>
                <p>No highscore in this game so just playing against your time and moves.</p>
                <p>More maps can be added in the future.</p>
            </article>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4" style="height:400px;overflow:auto ; text-align:center ; border:solid purple ;  background-color:white; color:black;">
            <h3 style="color:black;">Fox Survival Game info</h3>
            <article>
                <p>Login not required for this game</p>
                <p>You play as a fox trying to survive for 60 seconds.</p>
                <p>Every second give you points and every time you move grants you points.</p>
                <p>At certen milestone points the wolves will start to move faster.</p>
                <p>Surviving for the full 60 seconds grants a bonus of 2k points.</p>
                <p>No highscore in this game so got to remember your own score and play against that.</p>
                <p>More maps can be added in the future.</p>
            </article>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>