@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<div class="row">

    <div class="col-md-3" id="player" style="height:400px ; text-align:center ; border:solid black">
        <h4>Player</h4>
        <br /><br /><br /><br /><br /><br /><br />
    <button>
             @Ajax.ActionLink("Create Gladiator", "PartCreateGladiator", new AjaxOptions
             {
             UpdateTargetId = "player",
             InsertionMode = InsertionMode.Replace
             })
     </button>
    </div>

    <div class="col-md-6" id="battle"  style="height:400px ; text-align:center ; border:solid black">
        <h4>Battle</h4>
    </div>

    <div class="col-md-3" id="opponent"  style="height:400px ; text-align:center ; border:solid black">
        <h4>Opponent</h4>
    </div>

</div>

<div class="row">
    <div class="col-md-6" id="Gear"  style="height:400px ; text-align:center ; border:solid black">
        <h4>Gear</h4>
    </div>

    <div class="col-md-6" id="Menus"  style="height:400px ; text-align:center ; border:solid black">
        <h4>Menu and inventory</h4>
    </div>

</div>