@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<div class="row">

    <div class="col-md-3" id="player" style="height:400px ; text-align:center ; border:solid black">
        <p>Player</p>
        <br /><br /><br /><br /><br /><br /><br />
        <button>Create Gladiator</button>
    </div>

    <div class="col-md-6" id="battle"  style="height:400px ; text-align:center ; border:solid black">
        <p>Battle</p>
    </div>

    <div class="col-md-3" id="opponent"  style="height:400px ; text-align:center ; border:solid black">
        <p>Opponent</p>
    </div>

</div>

<div class="row">
    <div class="col-md-6" id="Gear"  style="height:400px ; text-align:center ; border:solid black">
        <p>Gear</p>
    </div>

    <div class="col-md-6" id="Menus"  style="height:400px ; text-align:center ; border:solid black">
        <p>Menu and inventory</p>
    </div>

</div>