@model GladiatorProject.Models.SupportRequests

@{
    ViewBag.Title = "Index";
}

<h2 class="Mystyle" style="text-align:center;">Welcome to Support</h2>

<div>
    <button>@Html.ActionLink("Request Support", "CreateRequest")</button>
</div>
<hr /><hr />
<div>
    <button>@Html.ActionLink("My Requests", "MyRequests")</button>
</div>