@using GladiatorProject.Models
@model BattleRound

<div>
    @foreach (var item in Model.Rounds)
    { 
        <div>@item.ToString()</div>
        <br />
    }
</div>
<button>@Html.ActionLink("Gladiator menu", "AfterBattle", new { id = Model.Id })</button>