@using GladiatorProject.Models
@*@model List<Opponent>*@
@model Opponent
    @foreach (var item in Model.Levels)
    {
        <dl>
          <dt>Level</dt>
          <dd>@item</dd>
   
         <dd><button>
            @Ajax.ActionLink("Select", "SelectedOpponent", new { level = item},
          new AjaxOptions
          {
              UpdateTargetId = "opponent",
              InsertionMode = InsertionMode.Replace,
              OnSuccess = "some javascript"
          })
        </button></dd>
       </dl>
    }
    