@using GladiatorProject.Models
@model Opponent
    @foreach (var item in Model.Levels)
    {
        <dl>
          <dt>Name</dt>
          <dd>@item.Name</dd>
          <dt>Level</dt>
          <dd>@item.Level</dd>
   
         <dd><button>
            @Ajax.ActionLink("Select", "SelectedOpponent", new { id = item.Id},
          new AjaxOptions
          {
              UpdateTargetId = "opponent",
              InsertionMode = InsertionMode.Replace,
              OnSuccess = "some javascript"
          })
        </button></dd>
       </dl>
    }
    