@using GladiatorProject.Models
@model BattleStart

    @foreach (var item in Model.Opponents)
    {
        <dl>
          <dt>Name</dt>
          <dd>@item.Name</dd>
          <dt>Level</dt>
          <dd>@item.Level</dd>
    @*<dd>
        <button>
        @Html.ActionLink("Select", "PreBattle", new {id = item.Id })
        </button>
    </dd>*@
         <dd><button>
            @Ajax.ActionLink("Select", "SelectedOpponent", new { id = item.Id, battleId = Model.Id},
          new AjaxOptions
          {
              UpdateTargetId = "opponent",
              InsertionMode = InsertionMode.Replace,
              OnSuccess = "some javascript"
          })
        </button></dd>
       </dl>
    }
    