
@{
    ViewBag.Title = "HighScores";
}

<div class="row">
    <h2 style="text-align:center">HighScores</h2>
    <div class="col-md-3" style="height:400px;overflow:auto ; text-align:center ; border:solid black">
        <h4>Player</h4>
        <div id="PlayerScore">
            <button>
                @Ajax.ActionLink("Player Highscore", "PlayerHighScore", new AjaxOptions
                {
                     UpdateTargetId = "PlayerScore",
                     InsertionMode = InsertionMode.Replace,
                     OnSuccess = "some javascript"
                })
            </button>
        </div>
    </div>


    <div class="col-md-3" style="height:400px;overflow:auto ; text-align:center ; border:solid black">
        <h4>Enemy</h4>
        <div id="GladiatorScore">
            <button>
                @Ajax.ActionLink("Gladiator Highscore", "GladiatorHighScore", new AjaxOptions
                {
                     UpdateTargetId = "GladiatorScore",
                     InsertionMode = InsertionMode.Replace,
                     OnSuccess = "some javascript"
                })
            </button>
        </div>

    </div>

</div>